<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    <div id="alert-popup" class="popup-overlay">
        <div class="popup-content">
            <p>
                Créez votre compte administrateur en saisissant votre nom d'utilisateur et votre mot de passe.
            </p>
            <button onclick="closePopup()">D'accord</button>
        </div>
    </div>


    <h2 class="bienvenue_2">Créer un compte</h2>
    <form id="signup_form" class="formulaireLogin" method="post">
      <input type="text" name="username" placeholder="Nom d'utilisateur" required>
      <input type="password" name="password" placeholder="Mot de passe" required>
      <button action="/signup" type="submit">Créer un compte</button>
        <p>Déjà inscrit ? <a href="{{ url_for('login') }}">Se connecter</a></p>
    </form>

</main>

<footer>
    <img src="{{ url_for('static', filename='logo_jci_blanc.png') }}" alt="Logo JCI" class="logo-transparent">
    <p class="description">Cette plateforme a été développée dans le cadre d’un projet universitaire mené au sein de la prestigieuse école SUP'COM, dans le cadre du programme PACTE. Intitulé Heart Warming, ce projet vise à assurer une gestion efficace des données essentielles aux initiatives caritatives organisées par l’association JCI Rafraf.</p>
</footer>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>